body {
  background-color: #18191a;
  color: #b0b3b8;
  font-family: verdana;
}

.dark-white{
  color: #e4e6eb;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

body, html {
  height: 100%;
}
.sports{
  background: #ffe5e5;
   padding: 5px;
   margin-left: 35px;
}

.header {
  padding: 60px;
  text-align: center;
  background: grey;
  color: white;
  font-size: 30px;
}
* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("img/heraclez.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* img {
  border-radius: 100%;
  border: 3px solid white;
  image-orientation: Center;
} */


h1 {
  color: white;
  text-shadow: 2px 2px 50px;
  text-align: center;
}

.btn-primary {
  background-color: #3a3b3c;
  border: 1px solid #3a3b3c;
  font-size: 1em;
  color: #e4e6eb;
  font-weight: bold;
}

.background-white {
  background: white;
}

.title-name {
  text-align: center;
  background-color:rgb(255, 255, 255, 0.1);
}

.nav-icons {
  font-size: 2.5em;
}

.nav-icons a{
  color: #afb3b8;
}

.nav-bar {
  background: #242526;
}

.social-icon{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.stars{
  font-size: 1.6em;
  width: 30px;
  color: grey;
}

.checked {
  color: rgb(240, 40, 74);
}

.stream-date {
  color: rgb(240, 40, 74)
}

.redtitle{
color: rgb(240, 40, 74);
text-align: center;
font-size: 1.6em;
text-shadow: black;



}
.bg-dark-custom {
  background-color: #242526;
}

.highlight-red {
  color: rgb(240, 40, 74)
}

.highlight-red-bg {
  background: rgb(240, 40, 74)
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  margin: auto;
}


.mb-8 {
  margin-bottom: 8em;
}
